/* Required CSS for hbSlider.js */
.hb-slider { 
    overflow: hidden;
    position: relative;
}

.slide-pane { 
    position: absolute;
    opacity: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.slide-pane.current,
.slide-pane.active { 
    opacity: 1;
    z-index: 1;
}
